*{
    box-sizing: border-box;
}

/* HEADER */

nav{
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem ;
}

#filtersButton, #menuButton{
    order: 1;
    z-index: 2;
}


#filters, #menu{
    position: fixed;
    top: 0;    
    width: 75vw;
    height: 100%;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    
}
#menu a{
    padding-left: 1rem;
}
#filters{
    left: -75vw;
}
#menu{
    right: -75vw;
}
#filters.show{
    left: 0;
}
#menu.show{
    right:0
}

.current{
    background-color: rgb(112, 112, 112);
}

#logo{
    order: 2;
}
#logo > img{
    height: 1.5rem;
}
#menuButton{
    order: 3;
}
#filtersButton > button, #menuButton > button{
    border-style: none;
    background-color: transparent;
    color: white;   
}
#filtersButton > button:hover, #menuButton > button:hover{
    color:#d80368;  
}

.navigation{
    background-color: rgb(0, 0, 0);
}

.navigation>a, .navigation, h1{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: small;
    margin: 0;
}
.navigation>a:hover{
    color:#d80368;
}



.card{
    border-radius: 0;
    margin-bottom: 0.25rem;
    height: 60vw;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: black;
}
.card-img{
    object-fit: cover;
    border-radius: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.card-details{
    background-color: rgba(0, 0, 0, 0.644);
    border: none;
    
}

body{
    background-color: #414141;
    font-family: 'Helvetica Neue', sans-serif;
    
}

.footer{
    background-color: rgb(27, 27, 27);
}

/* estilo de la tarjeta de detalles */
.details-card{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: #00000079;
    color: rgb(255, 255, 255);
}
.details-card-img{
    max-width: 100%;
    object-fit: cover;
}
.details-card-body{
    margin: 1rem;
}
.bold{
    font-weight: 600;
}
.details-card-title{
    font-size: 2rem;
    margin-top: 1rem;

}
@media(min-width:425px){
    .card-text{
        padding-right: 50%;
    }
}
@media(min-width:768px){

    .navigation>a, .navigation, h1{
        font-size: large;     
    }

    .card{
        width: 50%;
        height: 30vw;
        flex-grow: 1;
        margin-bottom: 0;
    }
    .card-title{
        min-height: 2rem;
    }
    .card-text{
        padding-right: 25%;
    }

    .details-card{
        flex-direction: row;
        margin: 2rem 0 2rem;
        border-radius: 1rem;
        
    }
    .details-card-img{
        max-width: 50vw;
        object-fit: cover;
        border-radius: 1rem 0 0 1rem;
    }
    #filters{
        left: -50vw;
        width: 50vw;
    }
    #menu{
        right: -50vw;
        width: 50vw;
    }
}

@media(min-width:1024px){
    .card{
        width: 25%;
        height: 30vw;
        flex-grow: 1;
        margin-bottom: 0;
    }  
    .card-title{
        min-height: 4rem;
    }
    .card-text{
        padding-right: 0;
    }
    #filters{
        left: -25vw;
        width: 25vw;
    }
    
    /* Desktop filtros y nav */
 
    #menu{
        right: auto;
        width: auto;
        order: 2;
    }
    
    #filtersButton, #menuButton{
        display: none;
    }
      
    #filters, #menu{
        position: relative;
        top: auto;    
        width: auto;
        height: auto;
        z-index: auto;
        
    }
    #categories{
        display: flex;
        flex-wrap: 1;
        width: 50%;
        order: 1;
        flex: 2;
    }
    #filters .input-group{
        order: 2;
        flex: 1;
    }
    #menu a{
        padding-left: 0;   
    }
    #filters{
        left: auto;
    }
    #menu .navbar-nav{
        display: flex;
        flex-direction: row;
    }
    #menu a{
        padding: 0 1rem;
    }
    #logo{
        display: flex;
        align-items: center;
        order: 1;
    }
}

@media(min-width:1440px){
    .card{
        width: 20%;
        height: 14vw;
        flex-grow: 1;
        margin-bottom: 0;
    }  
    .card-title{
        min-height: 2rem;
    }
    .card-text{
        padding-right: 0;
    }
}